config.ini
server.json
backup/
test/
documentation/image_forensics
documentation/example_dissertation_cardiff_univ_report.pdf
resources/
data-pickle/
output/
datasets/
datasets/data-dresden/
datasets/data-korus/
classes/__pycache__/
__pycache__/

